@charset "utf-8";


@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Luxurious+Roman&display=swap');

@font-face {
    font-family: gideon;
    src:url('Gideon_Roman/GideonRoman-Regular.ttf');
}

:root{
    --fonte-padrao: gideon, serif;
}


body{
    background-image: url('chamado-de-Deus.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;

    
}
h1{
    padding: 10px;
    margin: 10px;
    font-size: 30px ;
    color: black;
    text-align: center;

}
.container{
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding:10px;
}

.centralizar{
    text-align: center;
    background-color: rgba(209, 150, 116, 0.267);
}

.container :hover{
    color: rgb(128, 115, 0);
    text-decoration: dotted;
}

h2{
    
}
pre{
    text-align: left;
    letter-spacing: 1.3px;
    line-height: 25px;
}




