@charset "utf-8";


@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Luxurious+Roman&display=swap');

@font-face {
    font-family: gideon;
    src:url('Gideon_Roman/GideonRoman-Regular.ttf');
}

:root{
    --fonte-padrao: gideon, serif;
}


body{
    background-image: url('chamado-de-Deus.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}
h1{
    padding: 10px;
    margin: 10px;
    font-size: 30px ;
    color: black;
    text-align: center;

}

.centralizar{
    text-align: center;
    background-color: rgba(202, 37, 202, 0.486);
}



