@charset "utf-8";


@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Luxurious+Roman&display=swap');

@font-face {
    font-family: gideon;
    src:url('Gideon_Roman/GideonRoman-Regular.ttf');
}

:root{
    --fonte-padrao: gideon, serif;
}

.title{
    font-size: 40px;
    margin: 20px;
    
}
body{
    background-image: url('chamado-de-Deus.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    font-style: unset;

    
}
h1{
    padding: 10px;
    margin: 10px;
    font-size: 30px ;
    color: black;
    text-align: center;

}
.container{
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding:10px;
    font-size: 20px;
    
}

.centralizar{
    text-align: center;
    background-color: rgba(209, 150, 116, 0.267);
}

.container :hover{
    color: rgb(128, 15, 0);
    text-decoration: none;

}
.container:focus {
    color: rgb(0, 128, 0);
    
}
.container > a:active{
    color: rgb(255, 0, 221);
    
}

h2{
    margin: 30px;
    color: rgba(19, 131, 19, 0.808);
    

}
pre{
    text-align: left;
    letter-spacing: 1.3px;
    line-height: 25px;
}




